.get-btn{
    width: 100%;
    height: 40px;
}
.clear-btn{
    width: 100%;
    height: 40px; 
}
.tbl-list{
    width: 100%;
    
    tr td{
        text-align: center;
        padding: 10px;
        color: maroon;
        font-size: 30px;
    }
}