<div class="home-wrapper">
    <div class="content">
        <div class="menu">
<ul class="ul-menu">
    <li [routerLink]="['/home/ngclass']">ngCLASS</li>  
    <li [routerLink]="['/home/ngfor']">ngFOR</li>
    <li [routerLink]="['/home/ngif']">ngIF</li>
    <li [routerLink]="['/home/ngmodel']">ngMODEL</li>
    <li [routerLink]="['/home/ngstyle']">ngSTYLE</li>
    <li [routerLink]="['/home/ngswitch']">ngSWITCH</li>
    <li [routerLink]="['/home/attribute']">ATTRIBUTE</li>
</ul>
        </div>
        <div class="window">
<router-outlet></router-outlet>
        </div>

    </div>

</div>
